@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Noto+Sans+SC&display=swap');

body {
  font-family: "Inter", "HelveticaNeue", "Helvetica Neue", 'Noto Sans SC', Helvetica, Arial, sans-serif;
}

html {
  overflow: auto;
}

img {
  max-width: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 1%;
}

@media (min-width: 550px) {
  img[alt~="_gallery"] {
    max-width: 49.5%;
  }

  img[alt$=">"] {
    float: right;
  }

  img[alt$="<"] {
    float: left;
  }

  img[alt$="><"] {
    display: block;
    margin: auto;
    float: none !important;
  }
}

.center {
  text-align: center;
}

.left {
  margin-left: 0;
}

.lit {
  font-size: 1.5rem;
  font-weight: 300;
}

.little-svg {
  fill: #fff;
}

.ml-0 {
  margin-left: 0.7rem;
}

.ml {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 5rem;
}

.bottom {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 5px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mr {
  margin-right: 32px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-2 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 4rem;
}

.mx-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tag-link {
  margin-right: 10px;
}

.about {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

code:not(pre code) {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 0px 2px;
  font-size: 85%;
}

blockquote {
  font-family: 'Inter';
  background-color: rgba(148, 148, 149, 0.08) ;
  margin: 1.5em 0px;
  padding: 1.1em 20px 1px 20px;
  font-style: italic;
}

blockquote footer {
  font-family: 'Inter';
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: -10px;
}

blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(128 128 128 / 70%);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(128 128 128 / 20%);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128 128 128 / 100%);
}

.svg-hov {
  transition: all .2s ease-in-out;
}
.svg-hov:hover {
  transform: translateY(-3px);
  transition: all .2s ease-in-out;

}

body {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.trans {
  animation: transitionPlay 0.7s;
}

@keyframes transitionPlay {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.hidden {
  display: none;
}
